<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaGSG.Properties.Settings.bd_loginConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bd_login.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaGSG.Properties.Settings.SistemaGSGConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SistemaGSG.accdb"
            providerName="System.Data.OleDb" />
        <add name="SistemaGSG.Properties.Settings.SistemaGSGNova" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SistemaGSG.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SistemaGSG.Properties.Settings.SistemaGSGConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\SistemaGSG.mdf;Integrated Security=True;Connect Timeout=30;ApplicationIntent=ReadOnly"
            providerName="System.Data.SqlClient" />
        <add name="SistemaGSG.Properties.Settings.SistemaGSG_1_String"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\SistemaGSG_1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SistemaGSG.Properties.Settings.SistemaGSG_2_String"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SistemaGSG_2.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>